<div class="row">
  <div class="col-sm-3 statistics-settings">
      <h2>Статистика</h2>
      <span {{action "selectParam" "gamerOrder"}} class="coral {{if (eq selectedParam 'gamerOrder') 'selectedFilter' ''}}">Заказов</span>
      <span {{action "selectParam" "currentOrder"}} class="{{if (eq selectedParam 'currentOrder') 'selectedFilter' ''}}">Спроса</span>
      <span {{action "selectParam" "penalty"}} class="coral {{if (eq selectedParam 'penalty') 'selectedFilter' ''}}">Штрафов</span>
      <span {{action "selectParam" "storage"}} class="{{if (eq selectedParam 'storage') 'selectedFilter' ''}}">Склада</span>
      <span {{action "selectParam" "debt"}} class="coral {{if (eq selectedParam 'debt') 'selectedFilter' ''}}">Долгов</span>
  </div>
  <div class="col-sm-9">
    {{ember-chart type="line" data=gameStatistics}}
  </div>
</div>
